asgiref==3.2.9
Django==3.0.7
django-bootstrap-modal-forms==1.5.0
django-cleanup==5.0.0
django-colorfield==0.3.1
django-mathfilters==1.0.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
easy-thumbnails==2.7
future==0.18.2
Pillow==7.1.2
pkg-resources==0.0.0
pytz==2020.1
serializers==0.2.4
sqlparse==0.3.1
