{% extends 'layout/base.html' %}

{% block content %}
    <h3>Designed and developed by <strong style="color: whitesmoke">Mike Yeromenko</strong> as diploma work
    at python extended courses at <a href="https://a-level.com.ua/">A-Level school</a></h3>


    <h4>Contacts: +38050 616 01 19</h4>

    <p>Functionalities:</p>
    <li>sends mails with tickets if email was given by user while registrating</li>
    <li>has api for users admimistrators.</li>
    <li>has custom admin page for managing seances</li>
{% endblock content %}