{% extends 'layout/base.html' %}
{% load i18n %}

{% block content %}
    {% if money_spent %}
        <p style="padding: 10px">{% trans 'Total sum of money spent' %}: {{ money_spent }} hrn.</p>
    {% endif %}
    {% if purchase_list %}
        <div style=" padding: 10px">
        <br>
        <h2>You have made purchases:</h2>
        {% for purchase in purchase_list %}
            <br>
            <strong>date / time: {{ purchase.created_at }}
            total price: {{ purchase.total_price }} hrn.</strong>
            <br>
            {% for ticket in purchase.tickets.all %}
                {% if ticket.is_active %}
                    <div style="color: orangered">
                {% else %}
                    <div style="color: whitesmoke">
                {% endif %}
              Film: {{ ticket.seance.seance_base.film.title }}
              Hall: {{ ticket.seance.seance_base.hall.name }}
              Date of seance: {{ ticket.date_seance }}
              Time of seance: {{ ticket.seance.time_starts }}
              Row: {{ ticket.seat.row }}
              Seat: {{ ticket.seat.number }}
              Price: {{ ticket.price }} hrn.
                </div>

            {% endfor %}
        {% endfor %}
        </div>
    {% else %}
        You have not any purchases yet
    {% endif %}
{% endblock content %}