{% extends 'layout/base.html' %}
{% load my_filters %}
{% load static %}


{% block content %}
    <p>Film: {{ seance.seance_base.film.title }}</p>
    <p>Hall: {{ seance.seance_base.hall.name }}</p>
    <p>Dates: {{ seance.seance_base.date_starts }} - {{ seance.seance_base.date_ends }}</p>
    <p>Duration: {{ seance.time_starts }} - {{ seance.time_ends }}</p>
    <p>Description: {{ seance.description }}</p>
    {% include 'layout/base_price_drawer.html' with seance=seance %}


    <h1 style="text-align: center">Choose seats in {{ seance.seance_base.hall.name }} hall
    {% if seance_date %} for {{ seance_date }} {% endif %}</h1>

    <p style="color: #ffefef"></p>

    {% include 'layout/base_hall_seats_drawer.html' with hall=seance.seance_base.hall seates_taken=seats_taken %}

{% endblock content %}