.navbar_adm {
  overflow: hidden;
  background-color: black;
}

.navbar_adm a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown_adm {
  float: left;
  overflow: hidden;
}

.dropdown_adm .dropbtn_adm {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar_adm a:hover, .dropdown_adm:hover .dropbtn_adm {
  background-color: red;
}

.dropdown-content_adm {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content_adm a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content_adm a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content_adm {
  display: block;
}

.h1, .h2, .h3, .h4 {
  font-family: 'Lobster', cursive;

}

ul {
  color: orange;
  font-weight: bolder;
}

li {
  margin-left: 10px;
  color: darkorange;
  font-weight: bolder;
}


table {
  width: 100%; /* Ширина таблицы */
  border: 4px black; /* Рамка вокруг таблицы */
  border-collapse: collapse; /* Отображать только одинарные линии */
  text-align: center;
}
th {
  text-align: center; /* Выравнивание по center */
  background: #ccc; /* Цвет фона ячеек */
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
}
td {
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
  text-align: center;
}

.body_custom {
  background-color: black;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

form {
  display: table;
  margin: auto;
}

    /*.select {*/
    /*  !*width: 50%;*!*/
    /*  !*height: 50px;*!*/
    /*  font-weight: bold;*/
    /*  cursor: pointer;*/
    /*  border-radius: 0;*/
    /*  border: none;*/
    /*  color: black;*/
    /*  appearance: none;*/
    /*  !*padding: 10px;*!*/
    /*  !*padding-right: 38px;*!*/
    /*  -webkit-appearance: none;*/
    /*  -moz-appearance: none;*/
    /*  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;*/
    /*}*/