h1, h2, h3, h4 {
  text-align: center;
  padding: 10px;
  color: orangered;
}

.div-p p {
  color: whitesmoke;
}

ul {
  color: orangered;
  font-weight: bolder;
}

li {
  margin-left: 10px;
  color: orangered;
  font-weight: bolder;
}


table {
  width: 100%; /* Ширина таблицы */
  border: 4px whitesmoke; /* Рамка вокруг таблицы */
  border-collapse: collapse; /* Отображать только одинарные линии */
  text-align: center;
}
th {
  text-align: center; /* Выравнивание по center */
  background: orangered; /* Цвет фона ячеек */
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid whitesmoke; /* Граница вокруг ячеек */
}
td {
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid whitesmoke; /* Граница вокруг ячеек */
  text-align: center;
}

.body_custom {
  background-color: black;
  color: whitesmoke;
  min-width: 100vw;
  min-height: 100vh;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

.input-submit{
  background-color: orangered;
  border-radius: 10px;
  color: black;
}

.button-submit{
  background-color: orangered;
  border-radius: 10px;
  color: black;
  /*margin: 5px;*/
}

.div-table {
  display: table;
  margin: auto
}

.input-submit-order{
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

form {
  display: table;
  margin: auto;
}

.form-login {
  margin: auto;
  width: 350px;
}

#id_image {
  background-color: orangered;
  border-radius: 10px;
  color: black;
}

    /*.select {*/
    /*  !*width: 50%;*!*/
    /*  !*height: 50px;*!*/
    /*  font-weight: bold;*/
    /*  cursor: pointer;*/
    /*  border-radius: 0;*/
    /*  border: none;*/
    /*  color: black;*/
    /*  appearance: none;*/
    /*  !*padding: 10px;*!*/
    /*  !*padding-right: 38px;*!*/
    /*  -webkit-appearance: none;*/
    /*  -moz-appearance: none;*/
    /*  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;*/
    /*}*/