{% extends 'layout/base.html' %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated %}
        <p>{% trans 'You have already logged in' %}</p>
    {% else %}
        <form method="post" id="login-form" action="{% url 'seance:login' %}" class="form-login">
          <div class="form-group">
            <div class="form-group-row">
              {% csrf_token %}
              {{ form.as_p }}
                </div>
              <input type="hidden" name="next" value="{{ next }}">
              <input type="submit" value="{% trans 'Login' %}" class="input-submit">

          </div>

        </form>
    {% endif %}
{% endblock content %}