{% extends 'myadmin/base.html' %}
{% load i18n %}

{% block content %}

    <h2>{% trans 'Create new category' %}:</h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <input type="submit" value="{% trans 'Create' %}" class="input-submit">
    </form>

    <h2>{% trans 'Seat categories:' %}</h2>
    {% for category, form in object_list %}
        <br>
        <div style="display: table; margin: auto">
            <form action="{% url 'myadmin:seat_category_update' category.pk %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Update' %}" class="input-submit">
            </form>
            <p>Updated last: {{ category.updated_at }};</p>
            Last editor: {{ category.admin }};
            <a href="{% url 'myadmin:seat_category_delete' category.pk %}">
                <button class="input-submit" style="color: black">{% trans 'Delete' %}</button>
            </a>

        </div>
                <br>
    {% endfor %}

{% endblock content %}