{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html>
<head>
<title>Movies Pro an Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Movies Pro Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'seance/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- pop-up -->
<link href="{% static 'seance/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<link href="{% static 'seance/css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" type="text/css" href="{% static 'seance/css/zoomslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'seance/css/style.css' %}" />
<link href="{% static 'seance/css/font-awesome.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'seance/js/modernizr-2.6.2.min.js' %}"></script>
<!--/web-fonts-->
<link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--/web-fonts-->
 <!--For modal forms-->
{#<link rel="stylesheet" href="{% static 'seance/assets/css/bootstrap.min.css' %}">#}
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'seance/style.css' %}">
{% endblock styles %}
{% block java_script %}
    <script src="{% static 'colorfield/colorfield.js' %}"></script>
    <script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>


{% endblock java_script %}
<!--//web-fonts-->
</head>
<body {% block body_class %}class="body_custom"{% endblock body_class %}>

{% block navbar %}
    {% include 'layout/base_navbar.html' %}
{% endblock navbar %}


{% block admin_links %}
{% endblock admin_links %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <h3 style="color: red">{{ message }}</h3>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block content %}
{% endblock content %}


{% block scripts_js %}
  <script src="{% static 'seance/js/jquery-1.11.1.min.js' %}"></script>
	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="{% static 'seance/js/jquery.zoomslider.min.js' %}"></script>
		<!-- search-jQuery -->
				<script src="{% static 'seance/js/main.js' %}"></script>

			<!-- pop-up-box -->
		<script src="{% static 'seance/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
	<!--//pop-up-box -->

			<div id="small-dialog1" class="mfp-hide">
			<iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
	</div>
	<div id="small-dialog2" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
	</div>
{#	<script>#}
{#		$(document).ready(function() {#}
{#		$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({#}
{#			type: 'inline',#}
{#			fixedContentPos: false,#}
{#			fixedBgPos: true,#}
{#			overflowY: 'auto',#}
{#			closeBtnInside: true,#}
{#			preloader: false,#}
{#			midClick: true,#}
{#			removalDelay: 300,#}
{#			mainClass: 'my-mfp-zoom-in'#}
{#		});#}
{##}
{#		});#}
{#	</script>#}
<script src="{% static 'seance/js/easy-responsive-tabs.js' %}"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<link href="{% static 'seance/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'seance/js/owl.carousel.js' %}"></script>
<script>
	$(document).ready(function() {
		$("#owl-demo").owlCarousel({

		 autoPlay: 5000, //Set AutoPlay to 5 seconds
		  autoPlay : true,
		   navigation :true,

		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]

		});

	});
</script>

<!--/script-->


    <!--For modal forms-->
{#<script src="{% static 'seance/assets/js/jquery-3.2.1.min.js' %}"></script>#}
{#<script src="{% static 'seance/assets/js/popper.min.js' %}"></script>#}
{#<script src="{% static 'seance/assets/js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>#}

    <!--End for modal forms-->


<script type="text/javascript" src="{% static 'seance/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'seance/js/easing.js' %}"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
					 		};
							*/

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>

	<script src="{% static 'seance/js/bootstrap.js' %}"></script>
{% endblock scripts_js %}


{% block extrascripts %}{% endblock extrascripts %}
</body>
</html>